.wf-loading {
  font-family: "fira-sans-2";
  visibility: hidden;
}
.wf-active {
  visibility: visible;
}

.twitter{
  font-family: "fira-sans-2",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #42A6E5;
}

.twitter a{
    text-decoration: none;
}

.name{
  font-family: "fira-sans-2",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
}

.bio{
  font-family: "fira-sans-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.container{
  padding-top: 80px;
}

.home{
  padding-left: 40px;
  padding-right: 40px;
}

.header{
  font-family: "fira-sans-2",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  opacity: .6;
}

.links{
  padding-top: 10px;
  list-style: none;
  font-family: "fira-sans-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.links li{
  display: inline-block;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  border: solid #999999 1px;
  text-decoration: none;
}

.images li{
  display: inline-block;
}

.images img{
  height: 175px;
}

.areas{
  margin-top: 20px;
}

.bio-top{
  margin-top: 5px;
  font-family: "fira-sans-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 15px;
}

.bio-text{
  margin-top: 5px;
  font-family: "fira-sans-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.read-more a{
  font-size: 12px;
  color: #42A6E5;
  text-decoration: none;
}

.photo-credit{
  font-size: 16px;
  font-family: "fira-sans-2",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.photo-credit a{
  text-decoration: none;
}

.bio-text a{
  color: #42A6E5;
  text-decoration: none;
}

#more-text{
  display: none;
}

.photos{
  padding-bottom: 10px;
}
